{% extends 'manyTAD/base.html' %}
{% load static %}
{% block content %}

<body>
  <div class="container" style="margin-top: 100px;">

	<h2 class="mb-5 header_text" style="text-align: center; font-size: 35px;">
            <b style="color: #708090;" class="popins"> TADMaster: A Comprehensive Web-based Tool for the Analysis of Topologically Associated Domains </b>
        </h2>



        <div class="col-md-12" style="margin-bottom: 25px">
           
	<div class="text-center">
		<img src="{% static "/image/testing.jpg" %}" style="height: 420px; width: 650px;" class="rounded" alt="..."> 
	</div>


          
	<p>
	The groundbreaking work by Dixon et al., 2012 revealed the existence of regions with more within-interaction or self-interacting regions called Topologically Associated Domains. Topological associated domains, or TADs, are regions where interactions occur much more frequently than with outside regions (Figure Above). 
	We provide the following tools for analysis:
	<hr>
        </p>
	<h3>TADMaster</h3>
	<p>
	Using detected TAD bed files perform  one or more of the comprehensive analysis and visualization listed below:
	
	<li> Compare the Number, Size and  Boundaries of TADs across algorithms and normalizations
	<li> Measure of Concordance of domains and boundaries between algorithms and normalizations
    <li> Graphs showing number of TADs and size distribution per algorithm, and shared boundaries between algorithms
    <li> Biological analysis of TAD dataset between multiple reference data, and other species (user provides reference data)
    <li> Same Tool with Multiple Channels: Containerized version of the TADMaster available on our GitHub page to be run any platform

   </p>
	<br>
	<div style="text-align: center; margin-bottom: 25px">
 
		<a id="TadInput" href="./input" type="" class="enviaPedido btn btn-primary btn-sm" style="padding: 15px 40px !important;">
    			<span class="visible-xs-block">TADMaster</span>
  		</a>

	</div>


	<hr>
	<h3 id="tadMasterPlusBlerb">TADMaster Plus: TADMaster + Hi-C Matrix Normalization + State-of-the-Art TAD Detection Tools</h3>
	<p>
	 TADMaster Plus is a full suite that combines the comparative analysis and visualization functions of TADMaster with 
	 <li> Existing algorithms for Normalization 
	 <li> State-of-the-Art TAD Detection Tools

   </p>
        
        
		<div style="text-align: center; margin-bottom: 25px">
	        

		<a id="tadMasterPlusBtn" href="./upload" type="" class="enviaPedido btn btn-primary btn-sm" style="padding: 15px 35px !important;">
    			<span class="visible-xs-block">TADMaster Plus</span>
  		</a>


	</div>
	
	
	
	<hr>
	<h3 id="repuloadeader">Reupload Previous Jobs</h3>
	<p>
	If you want to reupload a previous submitted job that was removed from our servers, then you can upload your zipped job folder here. Please note that if any
	changes were made to the job files the upload will be unsucessful. 
        </p>
	<div style="text-align: center; margin-bottom: 25px">

		<a id="reuploadBtn" href="./upload_previous_job" type="" class="enviaPedido btn btn-primary btn-sm" style="padding: 15px 40px !important;">
    			<span class="visible-xs-block">Reupload</span>
  		</a>
	</div>

		<hr>
          <div>
            <h2 class="inter"> Cite this Work: </h2>
            <p id="subtext"> <br> Higgins, S., Akpokiro, V., Westcott, A., Oluwadare, O. TADMaster: a comprehensive web-based tool for the analysis of topologically associated domains. BMC Bioinformatics 23, 463 (2022). https://doi.org/10.1186/s12859-022-05020-2 </p>
          </div>
          <!--<div>
            <h2 class="inter"> Contacts: </h2>
            <p>If you have any question or contribution, Kindly contact. <a href="https://academics.uccs.edu/~ooluwada/index.html">Prof. Oluwatosin Oluwadare</a></p>
          </div>-->
        </div>


    </div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Do you plan to include a Contact Matrix for your TADMaster analysis?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Including a contact matrix allows for comparison on a heatmap, however it is completely optionaly.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<a id="noNtn" href="./upload_existing_no_matrix" type="" class="btn btn-primary" >
    			<span class="visible-xs-block">No</span>
  		</a>

		<a id="uploadExistingbtn" href="./upload_existing" type="" class="btn btn-primary" >
    			<span class="visible-xs-block">Yes</span>
  		</a>

      </div>
    </div>
  </div>
</div>
	


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/static/bootstrapv4/js/bootstrap.bundle.min.js"></script>



<script>

$(document).ready(function(){

	$(".footer").css("top", "8%");

	$(window).on('load resize', function() {
        	if ($(window).width() >= 767 && $(window).width() < 1199) {
            		$('.title').css('font-size', '12px');
        	}
       		else{
            		$('.title').css('font-size', '24px');
        	} 
    	});


});



</body>

{% endblock content %}
