{% extends 'manyTAD/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<body>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
	 
	<div class="container" style="margin-top: 100px; min-height: 100%">
		<form method="post" enctype="multipart/form-data">

	<h2 class="mb-5 header_text popins" style="text-align: center;">
            <b style="color: #708090;"> SELECT HI-C DATA FORMAT </b>
        </h2>

       <a  href = "https://github.com/OluwadareLab/TADMaster/wiki/TADMaster-Plus" target="_blank">Tryout by following tutorial instruction at this link using provided sample data</a>


        <div class="col-md-12" style="margin-bottom: 25px">
        	<div class="card-deck">
			  	<div class="card">
 			    	<div class="card-body">
	                    <div class="custom-control custom-radio alert alert-primary" style="height: 100%; text-align: center;">
					        <input type="radio" class="custom-control-input" id="hic" name="data_input_type" value="hic">
				            <br><br>
				            <label class="custom-control-label" for="hic" style="cursor: pointer;">
				            	<h2> 
						        	<div class="title inter_bold"> 
						        	.hic 
						        	</div>
						        </h2>        
				        	</label>
				    	</div>

  			    	</div>
			  	</div>

			  	<div class="card">
 			    	<div class="card-body">
	                    <div class="custom-control custom-radio alert alert-success" style="height: 100%; text-align: center;">
					        <input type="radio" class="custom-control-input" id="h5" name="data_input_type" value="h5">
				            <br><br>
				            <label class="custom-control-label" for="h5" style="cursor: pointer;">
				            	<h2>
				            		<div class="title inter_bold">
				            		.h5
				            		</div>
				            	</h2>
				        	</label>
				    	</div>
  			    	</div>
			  	</div>

			  	<div class="card">
 			    	<div class="card-body">
				        <div class="custom-control custom-radio alert alert-info" style="height: 100%; text-align: center;">
							<input type="radio" id="cool" name="data_input_type" class="custom-control-input" value="cool">
							<br><br>
							<label class="custom-control-label" for="cool" style="cursor: pointer;">
								<h2>
									<div class="title inter_bold">
									.cool
									</div>
								</h2>
							</label>
						</div>
  			    	</div>
			  	</div>

			  	<div class="card">
 			    	<div class="card-body">
                   		<div class="custom-control custom-radio alert alert-warning" style="height: 100%; text-align: center;">
					        <input type="radio" class="custom-control-input" id="sparse" name="data_input_type" value="sparse">
					        <br><br>
				            <label class="custom-control-label" for="sparse" style="left: 15px; cursor: pointer;">
				            	<h2>
				            		<div class="title inter_bold">
				            			sparse matrix
				            		</div>
				            	</h2>         
				        	</label>
                  		</div>
  			    	</div>
			  	</div>

			  	<div class="card">
 			    	<div class="card-body">
				        <div class="custom-control custom-radio alert alert-danger" style="height: 100%; text-align: center;">
			            	<input type="radio" class="custom-control-input" id="square" name="data_input_type" value="square">
			            	<br><br>
				            <label class="custom-control-label" for="square" style="left: 15px; cursor: pointer;">
				            	<h2>
				            		<div class="title inter_bold">
				            			N * N Matrix
				            		</div>
				            	</h2>         
				        	</label>
			        	</div>
   			    	</div>
			  	</div>
			</div>
        </div>

        <div class="row mb_25">
        	<div class="col-md-6 offset-md-3">
        		<form method="post" enctype="multipart/form-data">
        			
				<div class="form-group">
					{{ form|crispy }}
				</div>
				
			</form>
        	</div>
        </div>
        <div style="float: right;">
        	<button type="submit" class="btn btn-secondary btn-lg" style="float: right;">
        		<h4 style="color: #fff;" class="popins_reg">NEXT&nbsp;&nbsp;<i class="fas fa-hand-point-right"></i></h4>
        	</button>
        </div>

	 

        
    	</div>

</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/bootstrapv4/js/bootstrap.bundle.min.js"></script>

<script>
var error = '{{ error }}';

$(document).ready(function(){

	$("[for^='id_']").addClass("inter_bold");

	$(window).resize(function() {
        if ($(window).width() >= 577 && $(window).width() < 1199) {
            $('.title').css({'font-size': '12px', 'line-height': '1.7'});
        }
        else{
            $('.title').css('font-size', '24px');
        } 
    }); 
	if( error == "input type error") {
    window.alert(" Please select an input data type (e.g. .hic, . h5, etc)");
	}

	if( error == "resolution error") {
    window.alert(" .hic data must have a resolution of 2500000, 1000000, 500000, 250000, 100000, 50000, 25000, 10000, or 5000 basepairs");
	}
});
</script>
</body>


{% endblock content %}